* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.MainManu {
    display: block;
    width: 100%;
    height: 100vh;
    background: url(images/Bitmap.png) no-repeat center center;
    background-size: cover;
    background-color: rgba(59, 54, 54, 1.267);
    text-align: center;
    padding: 47px 17%;

    header {
        display: flex;
        justify-content: space-between;
        .Dream {
            font-family: 'Montserrat', sans-serif;
            color: #FFFFFF;
            font-size: 20px;
            font-weight: 700;
        }
        .Sing {
            font-family: 'Montserrat', sans-serif;
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 400;
            display: flex;
            margin-bottom: 148px;
        }
        p {
            padding: 8px;
        }
        button {
            width: 90px;
            height: 36px;
            border: 2px solid #FFFFFF;
            color: white;
            box-sizing: border-box;
            border-radius: 40px;
            background-color: rgba(0, 0, 0, 0);
        }
    }
    .TextCenter {
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 52px;
            font-weight: 700;
            margin-bottom: 29px;
        }
        h3 {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 24px;
            margin-bottom: 25px;
        }
        button {
            width: 225px;
            height: 40px;
            background: #FF4E50;
            border-radius: 40px;
            color: #FFFFFF;
            border: 1px solid #FF4E50;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 14px;
        }
    }
}

main {
    padding: 89px 17% 100px;

    .works {
        text-align: center;
        margin-bottom: 95px;
    }
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 26px;
        color: #444444;
        margin-bottom: 35px;
    }
    .worksBOXS1 {
        display: flex;
        justify-content: space-between;
    }
    .worksBox1, .worksBox2, .worksBox3 {
        display: flex;
        width: 32%;
        padding: 254px 25px 21px 25px;
        flex-direction: column;
        text-align: left;
        border-radius: 5px;
        background-blend-mode: darken;
    }
    .worksBox1 {
        background: rgba(0, 0, 0, .3) url(images/Bitmap\ \(2\).png);
        background-size: cover;
        background-repeat: no-repeat;

    }
    .worksBox2 {
        background: rgba(0, 0, 0, .3) url(images/Bitmap\ \(3\).png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 282px;
    }
    .worksBox3 {
        background: rgba(0, 0, 0, .3) url(images/Bitmap\ \(1\).png);
        background-size: cover;
        background-repeat: no-repeat;

    }
    button {
            width: 70px;
            height: 20px;
            background: #FF4E50;
            border-radius: 40px;
            color: #FFFFFF;
            border: 1px solid #FF4E50;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 10px;
            letter-spacing: 2px;
            margin-bottom: 18px;
    }
    h3 {
        color: #FFFFFF;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin-bottom: 10px;
    }
    p {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #E3E3E3;
        font-size: 14px;
    }

    .partner {
        text-align: center;
        margin-bottom: 95px;
        h2 {
            margin-bottom: 35px;
        }
        .partnerBOXS2 {
            display: flex;
            justify-content: space-between;
            margin-bottom: 55px;
        }
        .partnerBox1, .partnerBox2, .partnerBox3, .partnerBox4{
            width: 24%;
        }
        img {
            border-radius: 50%;
        }
        .face {
            position: relative;
            margin-bottom: 17px;
        }
        .svg1, .svg2, .svg3, .svg4 {
            position: absolute;
            left: 63%;
            top: 69%;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 3px solid white;
            display: inline-block;
        }
        .svg1 {
            background-color:  #FF4E50;
        }
        .svg2 {
            background-color:  #19D4CA;
        }
        .svg3 {
            background-color:  #FFA710;
        }
        .svg4 {
            background-color:  #667DF3;
        }
        svg {
            margin: 5px auto;
        }
        .svgPlane {
            margin: 1px 0 0 3px;
        }
        h3 {
            font-size: 14px;
            color: #444444;
            font-weight: 700;
            margin-bottom: 12px;
        }
        p {
            font-size: 14px;
            color: #666666;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
        }
        button {
            width: 210px;
            height: 40px;
            background: #FFFFFF;
            border: 2px solid #FF4E50;
            box-sizing: border-box;
            border-radius: 40px;
            color: #FF4E50;
            font-size: 14px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
        }
        
    }
    
    .ideas {
        text-align: center;
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            color: #444444;
            font-size: 26px;
        }
        .ideasContainer {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                color: #FFFFFF;
                font-size: 22px;
            .ideasBOX1{
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                .ideasBOX1-Box1, .ideasBOX1-Box2, .ideasBOX1-Box3 {
                    display: flex;
                    width: 32%;
                    height: 310px;
                    justify-content: center;
                    align-items: center;
                    background-blend-mode: darken;
                    border-radius: 5px;
                }
                .ideasBOX1-Box1 {
                    background: rgba(0, 0, 0, .3) url(images/Bitmap\ \(14\).png);
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                .ideasBOX1-Box2 {
                    background: rgba(0, 0, 0, .3) url(images/Bitmap\ \(12\).png);
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                .ideasBOX1-Box3 {
                    background: rgba(0, 0, 0, .3) url(images/Bitmap\ \(13\).png);
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }

            .ideasBOX2 {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                .ideasBOX2-Box1, .ideasBOX2-Box2 {
                    display: flex;
                    height: 310px;
                    justify-content: center;
                    align-items: center;
                    background-blend-mode: darken;
                    border-radius: 5px;
                }
                .ideasBOX2-Box1 {
                    width: 32%;
                    background: rgba(0, 0, 0, .3) url(images/Bitmap\ \(11\).png);
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                .ideasBOX2-Box2 {
                    width: 66%;
                    background: rgba(0, 0, 0, .3) url(images/Bitmap\ \(10\).png);
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }

            .ideasBOX3 {
                display: flex;
                justify-content: space-between;
                margin-bottom: 95px;
                .ideasBOX3-Box1, .ideasBOX3-Box2 {
                    display: flex;
                    height: 310px;
                    justify-content: center;
                    align-items: center;
                    background-blend-mode: darken;
                    border-radius: 5px;
                }
                .ideasBOX3-Box1 {
                    width: 66%;
                    background: rgba(0, 0, 0, .3) url(images/Bitmap\ \(9\).png);
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                .ideasBOX3-Box2 {
                    width: 32%;
                    background: rgba(0, 0, 0, .3) url(images/Bitmap\ \(8\).png);
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    form {
        text-align: center;
        h2 {
            margin-bottom: 43px;
        }
        h3 {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 18px;
            color: #666666;
            margin-bottom: 25px;
        }
        input {
            width: 299px;
            height: 40px;
            border: 1px solid #D4D4D4;
            box-sizing: border-box;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
            border-radius: 3px; 
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 14px;  
            text-indent: 15px;
        }
        button {
            width: 172px;
            height: 40px;
            background: #FF4E50;
            border-radius: 40px;
            color: #FFFFFF;
            border: 1px solid #FF4E50;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 0;
        }

    }
}

footer {
    border-top: 2px solid #FF4E50;
    padding: 36px 17% 0;
    .areto {
        display: flex;
        justify-content: space-between;
    }
    .dreamshare {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #FF4E50;
    }
    .company, .partners, h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: #444444;
    }
    .company {
        margin-bottom: 36px;
    }
    h4 {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 14px;
        color: #999999;
        line-height: 26px;
    }
    .h4-mrt-11 {
        margin-top: 11px;
    }
    h3 {
        font-size: 10px;
        color: #CCCCCC;
        text-align: right;
        margin-bottom: 7px;
    }
    .by {
        margin-left: 150px;
    }
}


@media screen and (min-width: 1600px) {
   .MainManu {
       header {
           .Sing {
               margin-bottom: 300px;
           }
       }
   }
   .works {
        .worksBox1, .worksBox2, .worksBox3 {
             padding: 370px 25px 21px 25px;
        }
        .worksBox2 {
            padding-top: 398px;
        }
   }
}

@media screen and (max-width: 1280px) {
    .MainManu {
        padding: 47px 12%;
    }
    main {
        padding: 89px 12% 100px;
    }
    footer {
        padding: 36px 12% 0;
    }
}

@media screen and (max-width: 1024px) {
    .MainManu {
        padding: 47px 5%;
    }
    main {
        padding: 89px 1% 100px;
    }
    main .works {
        margin-bottom: 36px
    }
    
    
    .works {
        h3 {
            margin-bottom: 31px;
            line-height: 14px;
        }
        button {
            margin-bottom: 42px;
        }
        .worksBox1, .worksBox2, .worksBox3 {
             padding: 205px 20px 16px 20px;
        }
        .worksBox2 {
            padding: 255px 22px 16px 20px;
            button {
                margin-bottom: 20px;
            }
        }
   }

   main .partner {
    padding: 0 20%;
    }
    main h2 {
        font-size: 22px;
    }
   main .partner .partnerBOXS2 {
    flex-flow: wrap;
   }
   .partner {
       .partnerBOXS2{
        .partnerBox1, .partnerBox2, .partnerBox3, .partnerBox4 {
            width: 48%;
           }
           .partnerBox1 {
               margin-bottom: 54px;
           }
           .partnerBox2 {
               order: 2;
           }
           .partnerBox3 {
                order: 1;
             }
            .partnerBox4 {
                order: 3;
             }
       }
   }
   
   main .ideas h2 {
    font-size: 22px;
   }
   main {
       .ideas {
           .ideasContainer {
               .ideasBOX1 {
                   .ideasBOX1-Box1, .ideasBOX1-Box2, .ideasBOX1-Box3 {
                       padding: 0 18px;
                   }
               }
           }
       }
   }
   
   footer {
    padding: 36px 6% 0;
    }
    footer .by {
        margin-left: 10px;
    }

}

@media screen and (max-width: 550px) {
    .MainManu {
        padding: 20px 7%;
    }
    .MainManu header {
        justify-content: center;
        flex-direction: column;
    }
    .MainManu header .Dream {
        margin-bottom: 27px;
    }
    .MainManu header .Sing {
        margin-bottom: 97px;
        order: -1;
        justify-content: center;
    }
    .MainManu .TextCenter h2 {
        font-size: 30px; 
        margin-bottom: 5px;
    }
    .MainManu .TextCenter h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    main {
        padding: 35px 3% 40px;
    }
    main h2 {
        margin-bottom: 15px;
    }
    main .worksBOXS1 {
        flex-wrap: wrap;
    }
    main {
        .works {
            .worksBOXS1 {
                .worksBox1, .worksBox2, .worksBox3 {
                    width: 100%;
                    margin-bottom: 10px;
                    padding: 30% 9% 6% ;
                }
                .worksBox2 {
                    padding: 28% 12% 10% ;
                }
            }
        }
    }
    .works .worksBox2 button {
        margin-bottom: 42px;
    }

    main .partner {
        padding: 0 5%;
    }
    main .partner .partnerBOXS2 {
        flex-flow: wrap;
        display: block;
        padding: 0 20%;
    }
    main .partner {
        margin-bottom: 35px;
    }
    .partner {
        .partnerBOXS2{
         .partnerBox1, .partnerBox2, .partnerBox3, .partnerBox4 {
             width: 100%;
            }
            .partnerBox1 {
                margin-bottom: 16px;
            }
            .partnerBox2 {
                margin-bottom: 16px;
            }
            .partnerBox3 {
                margin-bottom: 16px;
              }
             .partnerBox4 {
                margin-bottom: 48px;
              }
        }
    }
    main .partner .svg1, main .partner .svg2, main .partner .svg3, main .partner .svg4 {
        left: 66%;
    }
    main .partner button {
        width: 100%;
        margin-bottom: 0;
    }

    main .ideas .ideasContainer {
        .ideasBOX1, .ideasBOX2, .ideasBOX3 {
        display: block;
        margin-bottom: 0;
        }
    }
    main .ideas .ideasContainer .ideasBOX1 {
        .ideasBOX1-Box1, .ideasBOX1-Box2 ,.ideasBOX1-Box3 {
            width: 100%;
            height: 120px;
            margin-bottom: 10px;
        }
        .ideasBOX1-Box1 {
            background-position-y: 70%;
        }
        .ideasBOX1-Box2 {
            background-position-y: 48%;
        }
        .ideasBOX1-Box3 {
            background-position-y: 35%;
        }
    }
    main .ideas .ideasContainer .ideasBOX2 {
        .ideasBOX2-Box1, .ideasBOX2-Box2 {
            width: 100%;
            height: 120px;
            margin-bottom: 10px;
        }
        .ideasBOX2-Box1 {
            background-position-y: 61%;
        }
        .ideasBOX2-Box2 {
            background-position-y: 48%;
        }
    }
    main .ideas .ideasContainer .ideasBOX3 {
        .ideasBOX3-Box1, .ideasBOX3-Box2 {
            width: 100%;
            height: 120px;
            margin-bottom: 10px;
        }
        .ideasBOX3-Box2 {
            background-position-y: 10%;
            margin-bottom: 25px;
        }
    }

    main form h2 {
        margin-bottom: 9px;
    }
    main form h3 {
        margin-bottom: 15px;
    }
    main form input {
        width: 100%;
        margin-bottom: 10px;
    }
    main form button {
        width: 100%;
        margin-bottom: 0;
    }


    footer .areto {
        display: block;
        text-align: center;
    }
    footer .dreamshare {
        margin-bottom: 13px;
    }
    footer .company {
        margin-bottom: 1px;
    }
    footer .h4-mrt-11 {
        margin-top: 0;
    }
    h4 {
        padding-right: 10px;
    }
    footer .company .company_h4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 6px;
    }
    footer .partners {
        margin-bottom: 14px;
    }
    footer .by {
        margin-left: 0;
    }
    footer h3 {
        text-align: center;
    }
    footer {
        padding: 19px 5% 10px;
    }

}


